[submodule "libsrc/smoke/smokegen"]
	path = libsrc/smoke/smokegen
	url = git://anongit.kde.org/smokegen.git
[submodule "libsrc/smoke/smokeqt"]
	path = libsrc/smoke/smokeqt
	url = git://anongit.kde.org/smokeqt.git
[submodule "libsrc/commonqt"]
	path = libsrc/commonqt
	url = git@github.com:spchamp/commonqt.git
